a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: Open Sans, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

:focus {
  outline-color: #ff6c00;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 480px;
  padding-top: 84px;
  padding-bottom: 84px;
  padding-left: 31px;
  padding-right: 31px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.price-section {
  background-color: #111319;
  background-image: url(/Price_Mobile_1x-min.b8ca679c.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.price-subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.price-subtitle:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2px;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.6);
}

.price-title {
  margin-bottom: 44px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.price-list {
  padding: 30px;
  margin-bottom: 50px;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.price-button {
  display: flex;
  margin: 0 auto;
  padding: 11px 19px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.price-button:hover, .price-button:focus {
  background-color: #ff6c00;
}

.team-container {
  background-color: #f7f7f7;
}

.subtitle {
  padding-bottom: 20px;
}

.section-title {
  padding-bottom: 44px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
}

.flex-card {
  max-width: 418px;
}

.socials-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  padding-top: 30px;
}

@media screen and (min-width: 1200px) {
  .features {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 115px;
    padding-right: 85px;
  }
}
.features-info {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}
.features-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-title {
    padding-right: 269px;
  }
}
.features-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 79px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-text {
    padding-right: 189px;
  }
}
.features-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    padding-left: 240px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    margin-right: 130px;
  }
}
.features-score {
  font-weight: bold;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
  text-align: center;
}
.features-score-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
  white-space: pre-line;
  display: block;
  text-align: center;
}
.features-score-sub {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: #ff6c00;
  vertical-align: super;
}
.features-item {
  background-color: #f7f7f7;
  outline: 1px solid black;
  width: calc((100% - 30px * 1) / 2);
  height: 133px;
  padding: 20px;
  margin-bottom: 30px;
  display: inline-block;
}
.features-item:nth-child(odd) {
  margin-right: 30px;
  margin-top: -35px;
}

.features-info:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  margin-top: -1px;
  background: #303030;
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */