<footer class="footer">
  <div class="container">
    <div class="footer-form">
      <p class="footer-title">Онлайн-запись</p>
      <form action="">
        <label class="checkbox">
          <input type="text" />
          <span class="checkbox-name">Имя</span>
        </label>
        <label class="checkbox">
          <input type="tel" />
          <span class="checkbox-name">Телефон</span>
        </label>
        <textarea
          class="message"
          name="message"
          id="message"
          rows="10"
          placeholder="Сообщение"
        >
        </textarea>
      </form>
    </div>
    <div class="contacts">
      <p class="footer-title">Контакты</p>
      <address class="address">
        <p class="footer-contacts">
          <svg class="footer-icon"><use href="#"></use></svg> ул. Васильковая,
          7А, Киев, 08132
        </p>
        <a class="footer-contacts" href="tel:380441111111"
          ><svg class="footer-icon"><use href="#"></use></svg> +38 044 111 11
          11</a
        >
        <a class="footer-contacts" href="mailto:barbershop@email.com"
          ><svg class="footer-icon"><use href="#"></use></svg>
          barbershop@email.com</a
        >
      </address>
      <p class="worktime">время работы</p>
      <p class="footer-contacts">Ежедневно с 9:00 до 22:00</p>
    </div>
    <div class="copyright">
      <svg class="copyright-icon">
        <use href="#"></use>
      </svg>
      <span class="copyright-text">
        Copyright 2020
      </span>
      <a href="#" class="social-link">Instagram</a>
      <a href="#" class="social-link">Facebook</a>
    </div>
  </div>
</footer>
