<section class="master">
  <div class="container">
    <p class="subtitle">для настоящих ценителей атмосферы</p>
    <h2 class="section-title">Наши мастера</h2>
    <ul class="team-cards">
      <li class="flex-card">
        <img src="" alt="фото мастера" />
        <div>
          <p class="worker-name">John Smith</p>
          <p class="position">Extreme Barber</p>
          <ul class="socials-flex">
            <li class="">
              <a class="social-link" href="" aria-label="Instagram">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" href="" aria-label="Twitter">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" href="" aria-label="Facebook">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" href="" aria-label="Linkedin">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="flex-card">
        <img src="" alt="фото мастера" />
        <div>
          <p class="worker-name">Michele Doe</p>
          <p class="position">Extreme Barber</p>
          <ul class="socials-flex">
            <li>
              <a class="social-link" href="" aria-label="Instagram">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" href="" aria-label="Twitter">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" href="" aria-label="Facebook">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" href="" aria-label="Linkedin">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="flex-card">
        <img src="" alt="фото мастера" />
        <div>
          <p class="worker-name">Alan Black</p>
          <p class="position">Extreme Barber</p>
          <ul class="socials-flex">
            <li>
              <a class="social-link" href="" aria-label="Instagram">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" href="" aria-label="Twitter">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" href="" aria-label="Facebook">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="social-link" href="" aria-label="Linkedin">
                <svg class="social-svg" width="20" height="20">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
