<section class="Master">
  <div>
    <p class="subtitle">для настоящих ценителей атмосферы</p>
    <h2 class="section-title">Наши мастера</h2>
    <ul>
      <li>
        <h3 class="worker-name">John Smith</h3>
        <p class="position">Extreme Barber</p>
        <ul>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="worker-name">Michele Doe</h3>
        <p class="position">Extreme Barber</p>
        <ul>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="worker-name">Alan Black</h3>
        <p class="position">Extreme Barber</p>
        <ul>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg>
                <use></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
