<button type="button" class="menu-button is-open" data-menu-button="">
  <svg width="40" height="40">
    <use class="icon-cross" href="#"></use>
    <use class="icon-burger" href="#"></use>
  </svg>
</button>
<div class="menu is-open">
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#" class="nav-link is-accent">О нас</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Услуги и цены</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Мастера</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Контакты</a>
      </li>
    </ul>
  </nav>
  <ul class="contact">
    <li class="contact-item">
      <a href="tel:+380441111111" class="contact-link">
        +38 044 111 11 11
      </a>
    </li>
    <li class="contact-item">
      <button type="button" class="button">онлайн-запись</button>
    </li>
  </ul>
  <div class="social">
    <ul class="social-list">
      <li class="social-item"><a href="#" class="social-link">Instagram</a></li>
      <li class="social-item"><a href="#" class="social-link">Youtube</a></li>
    </ul>
  </div>
</div>
