<section class="section">
  <div class="container">
    <h2 class="section-title">На латинском языке “барба” означает “борода”</h2>
    <ul class="portfolio">
      <li class="portfoio-card">
        <a href="#" class="portfolio-link"
          ><img src="#" alt="Бекстейдж стрижка" class="portfolio-image"
        /></a>
      </li>
      <li class="portfoio-card">
        <a href="#" class="portfolio-link"
          ><img src="#" alt="Бекстейдж борода" class="portfolio-image"
        /></a>
      </li>
      <li class="portfoio-card">
        <a href="#" class="portfolio-link"
          ><img src="#" alt="Бекстейдж бритье" class="portfolio-image"
        /></a>
      </li>
      <li class="portfoio-card">
        <a href="#" class="portfolio-link"
          ><img src="#" alt="Бекстейдж" class="portfolio-image"
        /></a>
      </li>
    </ul>
  </div>
</section>
