<section class="price-section" id="price">
  <div class="container">
    <p class="price-subtitle">Проведи время в компании лучших мастеров</p>
    <h2 class="price-title">Услуги и цены</h2>
    <ul class="price-list">
      <li class="price-list-item">
        <span>Мужская стрижка</span><span>от 300 грн.</span>
      </li>
      <li class="price-list-item">
        <span>Стрижка бороды</span><span>от 200 грн.</span>
      </li>
      <li class="price-list-item">
        <span>Стрижка усов</span><span>от 200 грн.</span>
      </li>
      <li class="price-list-item">
        <span>Бритье опасной бритвой</span><span>от 200 грн.</span>
      </li>
      <li class="price-list-item">
        <span>Cтрижка у стажера</span><span>от 50 грн.</span>
      </li>
      <li class="price-list-item">
        <span>Стрижка под насадку</span><span>от 200 грн.</span>
      </li>
      <li class="price-list-item">
        <span>Детская стрижка (до 12 лет)</span><span>от 300 грн.</span>
      </li>
      <li class="price-list-item">
        <span>Камуфлирование седины</span><span>от 200 грн.</span>
      </li>
    </ul>
    <button class="price-button" type="button">онлайн-запись</button>
  </div>
</section>
