.team-container {
  background-color: #f7f7f7;
}
.subtitle {
  padding-bottom: 20px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
}

.flex-card {
  max-width: 418px;
}
.socials-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
}
.card-content {
  padding-top: 30px;
}
