.subtitle {
  padding-bottom: 20px;
}

.team-cards {
  display: flex;
  justify-content: center;
}

.flex-card {
  max-width: 418px;
}
.socials-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
