.team {
	background-color: #f7f7f7;
	max-width: 1600px;
	margin: 0 auto;
}

.team-subtitle {
	padding-bottom: 20px;
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	margin-bottom: 20px;

	&:before {
		@extend %before;
	}
}
.team-subtitle::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 2px;
	width: 60px;
	height: 1px;
	margin-right: 20px;
	background-color: rgba(157, 164, 189, 0.6);
}

.team-title {
	padding-bottom: 44px;
	font-size: 42px;
}

.team-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: -15px;
	text-align: center;

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		flex-wrap: wrap;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
		flex-wrap: nowrap;
	}
}

.flex-card {
	width: calc(100% / 1);
	padding: 15px;

	@media screen and (min-width: 768px) and (max-width: 1199px) {
		width: calc(100% / 1);
		padding: 15px;
	}

	@media screen and (min-width: 1200px) {
		width: calc(100% / 3);
	}
}
